.form__submit{
    margin: 0 auto 37px auto;
    border: none;
    background: black; 
    outline: none; 
    height: 50px; 
    width: 358px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.form__submit:hover{
    opacity: 0.8;
}

@media (max-width:520px){
    .form__submit{
        width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}